# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\a-Study_pig\IDEA\FNEditor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
